# Data Exploration and Cleaning

###### 1. Import Libraries and dependencies (example- matplotlib, scipy, numpy and pandas)

In [1]:
# Importing the Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np

###### 2. Load data into the Dataframe (df) from Excel /CSV files

In [2]:
#Reading data from CSV and creating a Pandas Data Frame for 2019 DECEMBER Data
Citibike_2019_dec_path ="data_1/JC-201912-citibike-tripdata.csv"
Citibike_2019_Dec = pd.read_csv(Citibike_2019_dec_path)

###### 3. Preliminary Data Examination

In [3]:
#Checking the data in the data frame(df) and its structure
Citibike_2019_Dec.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1553,2019-12-01 00:07:13.9360,2019-12-01 00:33:07.6820,3681,Grand St,40.715178,-74.037683,3198,Heights Elevator,40.748716,-74.040443,29462,Subscriber,1980,1
1,416,2019-12-01 00:16:40.4700,2019-12-01 00:23:36.5700,3195,Sip Ave,40.730897,-74.063913,3679,Bergen Ave,40.722104,-74.071455,29610,Subscriber,1956,1
2,294,2019-12-01 00:20:29.7980,2019-12-01 00:25:23.9690,3195,Sip Ave,40.730897,-74.063913,3678,Fairmount Ave,40.725726,-74.071959,26166,Subscriber,1977,1
3,97,2019-12-01 00:21:13.7580,2019-12-01 00:22:51.5970,3202,Newport PATH,40.727224,-74.033759,3638,Washington St,40.724294,-74.035483,29492,Subscriber,1993,1
4,286,2019-12-01 00:29:58.0230,2019-12-01 00:34:44.2280,3195,Sip Ave,40.730897,-74.063913,3679,Bergen Ave,40.722104,-74.071455,29440,Customer,1990,1

In [5]:
Citibike_2019_Dec.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19728 entries, 0 to 19727
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   tripduration             19728 non-null  int64
 1   starttime                19728 non-null  object
 2   stoptime                 19728 non-null  object
 3   start station id         19728 non-null  int64
 4   start station name       19728 non-null  object
 5   start station latitude   19728 non-null  float64
 6   start station longitude  19728 non-null  float64
 7   end station id           19728 non-null  int64
 8   end station name         19728 non-null  object
 9   end station latitude     19728 non-null  float64
 10  end station longitude    19728 non-null  float64
 11  bikeid                   19728 non-null  int64
 12  usertype                 19728 non-null  object
 13  birth year               19728 non-null  int64
 14  gender                   19728 non-null  int64
dtypes: float64(4), int64(6), object(5)
memory usage: 2.3+ MB

In [6]:
Citibike_2019_Dec['starttime']=pd.to_datetime(Citibike_2019_Dec['starttime'])
Citibike_2019_Dec['stoptime']=pd.to_datetime(Citibike_2019_Dec['stoptime'])
Citibike_2019_Dec.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19728 entries, 0 to 19727
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   tripduration             19728 non-null  int64
 1   starttime                19728 non-null  datetime64[ns]
 2   stoptime                 19728 non-null  datetime64[ns]
 3   start station id         19728 non-null  int64
 4   start station name       19728 non-null  object
 5   start station latitude   19728 non-null  float64
 6   start station longitude  19728 non-null  float64
 7   end station id           19728 non-null  int64
 8   end station name         19728 non-null  object
 9   end station latitude     19728 non-null  float64
 10  end station longitude    19728 non-null  float64
 11  bikeid                   19728 non-null  int64
 12  usertype                 19728 non-null  object
 13  birth year               19728 non-null  int64
 14  gender                   19728 non-null  int64
dtypes: datetime64[ns](2), float64(4), int64(6), object(3)
memory usage: 2.3+ MB

In [8]:
#Reading data from CSV and creating a Pandas Data Frame for 2019 NOVEMBER data
Citibike_2019_nov_path ="data_1/JC-201911-citibike-tripdata.csv"
Citibike_2019_Nov = pd.read_csv(Citibike_2019_nov_path)

In [9]:
Citibike_2019_Nov.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30797 entries, 0 to 30796
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   tripduration             30797 non-null  int64
 1   starttime                30797 non-null  object
 2   stoptime                 30797 non-null  object
 3   start station id         30797 non-null  int64
 4   start station name       30797 non-null  object
 5   start station latitude   30797 non-null  float64
 6   start station longitude  30797 non-null  float64
 7   end station id           30797 non-null  int64
 8   end station name         30797 non-null  object
 9   end station latitude     30797 non-null  float64
 10  end station longitude    30797 non-null  float64
 11  bikeid                   30797 non-null  int64
 12  usertype                 30797 non-null  object
 13  birth year               30797 non-null  int64
 14  gender                   30797 non-null  int64
dtypes: float64(4), int64(6), object(5)
memory usage: 3.5+ MB

In [10]:
#Converting to Date Time format
Citibike_2019_Nov['starttime']=pd.to_datetime(Citibike_2019_Nov['starttime'])
Citibike_2019_Nov['stoptime']=pd.to_datetime(Citibike_2019_Nov['stoptime'])
Citibike_2019_Nov.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30797 entries, 0 to 30796
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   tripduration             30797 non-null  int64
 1   starttime                30797 non-null  datetime64[ns]
 2   stoptime                 30797 non-null  datetime64[ns]
 3   start station id         30797 non-null  int64
 4   start station name       30797 non-null  object
 5   start station latitude   30797 non-null  float64
 6   start station longitude  30797 non-null  float64
 7   end station id           30797 non-null  int64
 8   end station name         30797 non-null  object
 9   end station latitude     30797 non-null  float64
 10  end station longitude    30797 non-null  float64
 11  bikeid                   30797 non-null  int64
 12  usertype                 30797 non-null  object
 13  birth year               30797 non-null  int64
 14  gender                   30797 non-null  int64
dtypes: datetime64[ns](2), float64(4), int64(6), object(3)
memory usage: 3.5+ MB

In [11]:
Citibike_2019_Nov.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,260,2019-11-01 00:02:53.886,2019-11-01 00:07:14.645,3186,Grove St PATH,40.719586,-74.043117,3203,Hamilton Park,40.727596,-74.044247,26314,Subscriber,1964,1
1,285,2019-11-01 00:05:38.636,2019-11-01 00:10:24.193,3206,Hilltop,40.731169,-74.057574,3212,Christ Hospital,40.734786,-74.050444,26238,Subscriber,1986,2
2,501,2019-11-01 00:05:43.631,2019-11-01 00:14:05.481,3186,Grove St PATH,40.719586,-74.043117,3192,Liberty Light Rail,40.711242,-74.055701,29645,Subscriber,1995,1
3,556,2019-11-01 00:07:57.055,2019-11-01 00:17:13.901,3209,Brunswick St,40.724176,-74.050656,3678,Fairmount Ave,40.725726,-74.071959,29221,Customer,1992,1
4,321,2019-11-01 00:11:44.566,2019-11-01 00:17:05.593,3273,Manila & 1st,40.721651,-74.042884,3273,Manila & 1st,40.721651,-74.042884,29591,Subscriber,1988,1

In [13]:
#Reading data from CSV and creating a Pandas Data Frame for 2019 OCTOBER Data
Citibike_2019_oct_path ="data_1/JC-201910-citibike-tripdata.csv"
Citibike_2019_Oct= pd.read_csv(Citibike_2019_oct_path)

In [14]:
Citibike_2019_Oct.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42253 entries, 0 to 42252
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   tripduration             42253 non-null  int64
 1   starttime                42253 non-null  object
 2   stoptime                 42253 non-null  object
 3   start station id         42253 non-null  int64
 4   start station name       42253 non-null  object
 5   start station latitude   42253 non-null  float64
 6   start station longitude  42253 non-null  float64
 7   end station id           42253 non-null  int64
 8   end station name         42253 non-null  object
 9   end station latitude     42253 non-null  float64
 10  end station longitude    42253 non-null  float64
 11  bikeid                   42253 non-null  int64
 12  usertype                 42253 non-null  object
 13  birth year               42253 non-null  int64
 14  gender                   42253 non-null  int64
dtypes: float64(4), int64(6), object(5)
memory usage: 4.8+ MB

In [15]:
#Converting to Date Time format
Citibike_2019_Oct['starttime']=pd.to_datetime(Citibike_2019_Oct['starttime'])
Citibike_2019_Oct['stoptime']=pd.to_datetime(Citibike_2019_Oct['stoptime'])
Citibike_2019_Oct.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42253 entries, 0 to 42252
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   tripduration             42253 non-null  int64
 1   starttime                42253 non-null  datetime64[ns]
 2   stoptime                 42253 non-null  datetime64[ns]
 3   start station id         42253 non-null  int64
 4   start station name       42253 non-null  object
 5   start station latitude   42253 non-null  float64
 6   start station longitude  42253 non-null  float64
 7   end station id           42253 non-null  int64
 8   end station name         42253 non-null  object
 9   end station latitude     42253 non-null  float64
 10  end station longitude    42253 non-null  float64
 11  bikeid                   42253 non-null  int64
 12  usertype                 42253 non-null  object
 13  birth year               42253 non-null  int64
 14  gender                   42253 non-null  int64
dtypes: datetime64[ns](2), float64(4), int64(6), object(3)
memory usage: 4.8+ MB

In [22]:
#Citibike_2021_clean = Citibike_2021.dropna()
#Citibike_2021_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 47662 entries, 0 to 48020
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ride_id             47662 non-null  object
 1   rideable_type       47662 non-null  object
 2   started_at          47662 non-null  datetime64[ns]
 3   ended_at            47662 non-null  datetime64[ns]
 4   start_station_name  47662 non-null  object
 5   start_station_id    47662 non-null  object
 6   end_station_name    47662 non-null  object
 7   end_station_id      47662 non-null  object
 8   start_lat           47662 non-null  float64
 9   start_lng           47662 non-null  float64
 10  end_lat             47662 non-null  float64
 11  end_lng             47662 non-null  float64
 12  member_casual       47662 non-null  object
dtypes: datetime64[ns](2), float64(4), object(7)
memory usage: 5.1+ MB

In [16]:
#Combining all 3 files (Data from 2019 December , November and OCtober Months)
citybike_combined_df = pd.concat([Citibike_2019_Oct, Citibike_2019_Nov , Citibike_2019_Dec], ignore_index=True)

In [17]:
citybike_combined_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92778 entries, 0 to 92777
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   tripduration             92778 non-null  int64
 1   starttime                92778 non-null  datetime64[ns]
 2   stoptime                 92778 non-null  datetime64[ns]
 3   start station id         92778 non-null  int64
 4   start station name       92778 non-null  object
 5   start station latitude   92778 non-null  float64
 6   start station longitude  92778 non-null  float64
 7   end station id           92778 non-null  int64
 8   end station name         92778 non-null  object
 9   end station latitude     92778 non-null  float64
 10  end station longitude    92778 non-null  float64
 11  bikeid                   92778 non-null  int64
 12  usertype                 92778 non-null  object
 13  birth year               92778 non-null  int64
 14  gender                   92778 non-null  int64
dtypes: datetime64[ns](2), float64(4), int64(6), object(3)
memory usage: 10.6+ MB

In [18]:
citybike_combined_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,892,2019-10-01 00:20:05.014,2019-10-01 00:34:57.380,3275,Columbus Drive,40.718355,-74.038914,3280,Astor Place,40.719282,-74.071262,29544,Subscriber,1976,1
1,374,2019-10-01 00:43:48.879,2019-10-01 00:50:03.819,3211,Newark Ave,40.721525,-74.046305,3791,Hoboken Ave at Monmouth St,40.735208,-74.046964,29536,Subscriber,1984,1
2,170,2019-10-01 01:35:51.863,2019-10-01 01:38:42.547,3194,McGinley Square,40.725340,-74.067622,3679,Bergen Ave,40.722104,-74.071455,26304,Subscriber,1986,1
3,946,2019-10-01 02:55:53.400,2019-10-01 03:11:40.271,3272,Jersey & 3rd,40.723332,-74.045953,3679,Bergen Ave,40.722104,-74.071455,29496,Customer,1969,0
4,517,2019-10-01 03:10:16.129,2019-10-01 03:18:53.635,3206,Hilltop,40.731169,-74.057574,3210,Pershing Field,40.742677,-74.051789,26205,Subscriber,1969,1

In [19]:
# Saving the combined dataframe to CSV
citybike_combined_df.to_csv('data_1/citibike_combined_2019.csv',index=False)